/* ---------------------------- VARIÁVEIS ---------------------------- */
/* ------------------------------- BASE ------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 25px;
}
select {
  height: 34px;
  border-radius: 5px;
  padding: 0 10px;
  border: solid 1px grey;
}
select:focus {
  outline: none;
}
/* ---------------------------- FRAMEWORK ---------------------------- */
h1 {
  font-size: 48px;
}
.container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 2%;
}
.flex-ac-jc {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-ac-jsa {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.flex-ac-jsb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex-ac-jse {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.box-input {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
.box-input input {
  width: 100%;
  height: 34px;
  padding: 0 10px;
  border: none;
  border-bottom: solid 3px #34a853;
}
.box-input input:focus {
  outline: none;
}
.box-resultado {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5px;
  padding: 10px 0;
  border-radius: 5px;
  background-color: #34a853;
  font-weight: bold;
  color: white;
}
.box-resultado .titulo-resultado {
  font-size: 12px;
}
.box-resultado .valor-resultado {
  font-size: 28px;
  height: 34px;
}
.sessao-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-transform: uppercase;
  row-gap: 20px;
}
.btn {
  border-radius: 5px;
  padding: 5px 10px;
  background-color: #fff;
  color: #34a853;
  text-align: center;
  border: solid 2px #34a853;
  cursor: pointer;
  transition: 0.3s;
  font-size: 16px;
  font-weight: bold;
}
.btn:hover {
  background-color: #34a853;
  color: #fff;
}
header {
  width: 100%;
  color: white;
  font-weight: bold;
  padding: 10px 0;
  background: linear-gradient(90deg, #34a853 0%, #ffffff 70%);
}
header img {
  width: 180px;
}
main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  flex-grow: 1;
}
main form {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  row-gap: 20px;
}
/* --------------------- Dados Paciente --------------------- */
#dadosPaciente #inputs-paciente {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 30px;
}
#dadosPaciente #inputs-paciente .box-input:nth-of-type(1) {
  width: 70%;
}
#dadosPaciente #inputs-paciente .box-input:nth-of-type(2) {
  width: 30%;
}
/* --------------------- Dados Cirurgia --------------------- */
#dadosCirurgia #header_cirurgia {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#dadosCirurgia #cirurgias {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 20px;
}
#dadosCirurgia #cirurgias .cirurgia {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 20px;
}
#dadosCirurgia #cirurgias .cirurgia select {
  flex-grow: 1;
}
#dadosCirurgia #cirurgias .cirurgia .valor-cirurgia {
  width: 105px;
  height: 34px;
  line-height: 34px;
  padding: 0 10px;
  border-radius: 5px;
  background-color: #34a853;
  text-align: center;
  vertical-align: middle;
  color: white;
  font-weight: bold;
}
#dadosCirurgia #cirurgias .cirurgia .btn-delete {
  width: 34px;
  height: 34px;
  padding: 0;
  border: solid 2px red;
  border-radius: 50%;
  color: red;
}
#dadosCirurgia #cirurgias .cirurgia .btn-delete:hover {
  background-color: red;
  color: white;
}
#dadosCirurgia #itens {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 20px;
}
#dadosCirurgia #itens #container-itens {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}
#dadosCirurgia #itens #container-itens .input-itens {
  width: 48%;
  display: flex;
  align-items: center;
  column-gap: 30px;
}
#dadosCirurgia #itens #container-itens .input-itens .box-input:nth-of-type(1) {
  flex-direction: row;
  align-items: center;
  column-gap: 10px;
}
#dadosCirurgia #itens #container-itens .input-itens .box-input:nth-of-type(1) input {
  width: 20px;
  height: 20px;
}
#dadosCirurgia #itens #container-itens .input-itens .box-resultado .valor-item {
  width: 100px;
}
#dadosCirurgia #itens #container-itens .input-itens:nth-of-type(5) {
  width: 100%;
}
/* --------------------- Dados Equipe --------------------- */
#dadosEquipe #inputs-equipe {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  row-gap: 20px;
}
#dadosEquipe #inputs-equipe .box-input {
  width: 200px;
  align-items: center;
  justify-content: center;
}
#dadosEquipe #inputs-equipe .box-input input {
  width: 80%;
  height: 34px;
  padding: 0px 10px;
  border: none;
  border-bottom: solid 3px #34a853;
}
#dadosEquipe #inputs-equipe .box-input input:focus {
  outline: none;
}
#dadosEquipe #valores-equipe {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 20px 0px;
}
#resultado {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#resultado p {
  font-weight: bold;
  font-size: 50px;
  color: #34a853;
}
footer {
  width: 100%;
  background-color: #34a853;
  color: white;
  text-align: center;
  padding: 5px 0;
}
